mark.ex1 {
    background-color: red;
    color: white;
}

p.ex1 {
    padding-top: 60px;
}

p.ex2 {
    padding-top: 10%;
    padding-left: 70px;
}

p.ex3 {
    padding-top: 200px;
    padding-left: 70px;
}

h1.ex1 {
    padding-top: 60px;
}

h6.ex1 {
    padding-top: 10px;
}

button.ex1 {
    margin-top: 10px;
}

.pink {
    font-weight: bold;
    color: #ffc0cb;
}

.red {
    color: #FF0000;
}

.gray {
    color: #999999;
}

img.ex1 {
    width: 50px;
    height: 50px;
}

img.ex2 {
    position: absolute;
    top: 17%;
}

.container {
    position: relative;
    text-align: left;
    color: black;
}

.checked {
    color: orange;
    padding-top: 20px;
}

.centered {
    position: absolute;
    padding-top: 120%;
    left: 3%;
}

.prec {
    top: 30px;
    position: relative;
    font-size: 30px;
}

img.ex3 {
    filter: opacity(30%);
}

.img-fluid {
    height: 100%;
    height: auto;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.btn-xl {
    padding: 32px 20px;
    font-size: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 20%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.sidenav {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://s3img.vcdn.vn/123phim/2018/05/dao-cua-nhung-chu-cho-isle-of-dogs-c13-15275021833843.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

    .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

div.transbox {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

.footer{
    position: fixed; bottom: 0; width: 100%;
}
