@{
    ViewBag.Title = "partnerHome";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/css/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/css/partner.css">
    <title>Partner Home</title>
    <link rel="stylesheet" href="css/circle.css">
</head>
<body style="overflow-x:hidden;" ng-app="CombineModule" ng-controller="partnerController">
    <!--========================================== new part =================================================-->
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" id="partner_sidebar" style="z-index:0; position: fixed! important; top:0px; height:100%; border-radius: 0px 0px;display: none; background-color:#18453f">
        <div class="w3-container w3-collapse" style="padding:0">

            <div class="col-lg-12" style="padding:0">
                <div class="card border-left-0" style="border-right:0px;border-top:0px">
                    <div class="card-header w3-container border ex2 border-right-0 border-left-0 border-top-0" style="padding:0">
                        <div class="w3-container  ex2 border-right-0 border-top-0 border-left-0" style="padding:0">
                            <button class="w3-bar-item w3-button w3-large border-top-0" onclick="topFunction()" style="border-top-0;padding:0;height:60px; text-align:center; vertical-align:middle"><i class="fa fa-arrow-up" style="padding-left:15px; padding-right:10px"></i>Top</button>
                        </div>
                        <div class="w3-container border ex2 border-right-0 ex2 border-left-0 " style="padding:0">
                            <div id="partner_rightarrowdiv" style="display: none; width:100%; position: absolute"><button id="partner_openNav" class="w3-bar-item w3-button w3-large" onclick="partner_open()" style="padding:0;height:60px; text-align:center; vertical-align:middle"><i class="fa fa-navicon" style=""></i></button></div>
                            <div style="width:100%; "><button id="partner_closeNav" class="w3-bar-item w3-button w3-large" style="padding:0;height:60px; text-align:center; vertical-align:middle" onclick="partner_close()"><i class="fa fa-navicon" style=""></i></button></div>
                        </div>

                    </div>
                    <!-- /.box-header -->
                    <div class="card-body border-left-0" style="padding:0;padding-top:60px" id="partner_menubar">
                        <div ng-click="manageCinema()" class="w3-container border ex2 border-right-0 border-left-0" style="padding:0">
                            <button class="w3-bar-item w3-button w3-large" style="padding:0;height:60px"><i class="fa fa-film" style="padding-left:15px; padding-right:10px"></i>Manage Cinema {{allCinemaData.length}}</button>
                        </div>
                        <div ng-click="manageEmployee()" class="w3-container border ex2 border-right-0 border-left-0" style="padding:0">
                            <button class="w3-bar-item w3-button w3-large border-bottom" style="padding:0;height:60px"><i class="fa fa-users" style="padding-left:15px; padding-right:10px"></i>Manage Employee {{currentEmployeeList.length}}</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-light navbar-expand-md col-lg-12" style="height:60px; background-color:#18453f" id="seat_topbar">
        <a href="#"><img src="~/Content/img/repository/logo.png" style="width:40px; height:40px;padding:0" /></a>
        <div class="navbar-collapse collapse" id="collapsingNavbar">
            <h3 style="color:white;padding-left:15px">Việt Cinê</h3>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button class="btn   font-weight-bold" style="background-color:#18453f;color:white">EN</button>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn font-weight-bold" style="background-color:#18453f;color:white"><i class="fa fa-bell" style="padding-right:10px"></i></button>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn font-weight-bold" style="background-color:#18453f;color:white">John Smith</button>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn font-weight-bold buttonround">JS</button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row" style="
    padding-right: 15px; padding-top: 50px" id="partner_main">
        <!-- Employee Management -->
        <div class="col-lg-12" id="empManagement" ng-controller="partnerEmployeeController">
            <div class="card">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="float-left"><h3>All Employee</h3></div>
                            </div>
                            <div class="col-sm-4">
                                <div class="float-right">
                                    <button ng-click="showAddEmpForm()" onclick="location.href='#empForm';" type="button" class="btn btn-danger " style="width:100%">
                                        Add Employee
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="card-body">
                        <div class="row table-scrollable">
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                    <thead>
                                        <tr role="row">
                                            <th>No.</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>phone</th>
                                            <th>Cinema</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="emp in currentPageEmpData" role="row" class="odd">
                                            <td>{{$index + 1}}</td>
                                            <td>{{emp.name}}</td>
                                            <td>{{emp.email}}</td>
                                            <td>{{emp.phone}}</td>
                                            <td>{{emp.cinemaName}}</td>
                                            <td>
                                                <button type="button" ng-click="employeeDetail($index)" onclick="location.href='#empForm';" class="btn btn-info" value="{{$index}}">
                                                    Detail
                                                </button>
                                                <button type="button" ng-click="deleteEmployee($index)" class="btn btn-danger" value="{{$index}}">
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr role="row">
                                            <th>No.</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>phone</th>
                                            <th>Cinema</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <ul class="pagination float-right">
                                    <li ng-click="empPreviousClick()" class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li ng-click="empPageClick($index)" ng-repeat="t in empPagingArray track by $index" ng-class="t"><a class="page-link" href="#">{{$index + 1}}</a></li>
                                    <li ng-click="empNextClick()" class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="card">
                <a name="edit" style="display:none"></a>
                <div class="card-header">
                    <div class="row">
                        <div class="float-left">
                            <h3 ng-if="isAddnewEmp == false" id="editEmployeeTitle">Edit Partner</h3>
                            <h3 ng-if="isAddnewEmp == true" id="editEmployeeTitle">Add Partner</h3>
                        </div>
                    </div>
                </div>
                <form id="empForm" class="form-horizontal">
                    <div class="card-body">
                        <div ng-if="isAddnewEmp == true" class="form-group">
                            <b class="col-sm-6 control-label">Employee username</b>
                            <div class="col-sm-12">
                                <input name="inputEmpUsername" type="text" class="form-control" id="inputEmpUsername" placeholder="">
                            </div>
                        </div>
                        <div ng-if="isAddnewEmp == true" class="form-group">
                            <b class="col-sm-2 control-label">Password</b>
                            <div class="col-sm-12">
                                <div><input name="inputEmpPassword" id="inputEmpPassword" type="password" class="form-control" placeholder=""></div>
                            </div>
                        </div>
                        <div ng-if="isAddnewEmp == true" class="form-group">
                            <b class="col-sm-6 control-label">Re-confirm Password</b>
                            <div class="col-sm-12">
                                <div><input name="inputEmpConfirmPassword" type="password" class="form-control" id="inputEmpConfirmPassword" placeholder=""></div>
                            </div>
                        </div>
                        <div ng-if="isAddnewEmp == true" class="form-group">
                            <b class="col-sm-2 control-label">Select Cinema (select one):</b>
                            <div class="col-sm-12">
                                <select class="form-control" name="inputEmpSelectCinema" id="inputEmpSelectCinema">
                                    <option disabled selected value> -- select an option -- </option>
                                    <option ng-repeat="cinema in allCinemaData" value="{{cinema.cinemaId}}">{{cinema.cinemaName}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <b class="col-sm-2 control-label">Employee name</b>
                            <div class="col-sm-12">
                                <input name="inputEmpName" type="text" class="form-control" id="inputEmpName" placeholder="" value="{{currentEmployee.name}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <b class="col-sm-2 control-label">Phone:</b>
                            <div class="col-sm-12">
                                <input name="inputEmpPhone" type="text" class="form-control" id="inputEmpPhone" placeholder="" value="{{currentEmployee.phone}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <b class="col-sm-2 control-label">Email:</b>
                            <div class="col-sm-12">
                                <input name="inputEmpEmail" type="text" class="form-control" id="inputEmpEmail" placeholder="" value="{{currentEmployee.email}}">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="card-footer">
                        <button ng-if="isAddnewEmp == false" type="submit" id="empAction" class="btn btn-info btn-block">Save</button>
                        <button ng-if="isAddnewEmp == true" type="submit" id="empAction" class="btn btn-info btn-block">Add</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>

        <!-- cinemas management-->
        <div class="col-lg-12" id="cinemaManagement" ng-controller="partnerCinemaController">
            <div class="card">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="float-left"><h3>All Cinemas</h3></div>
                            </div>
                            <div class="col-sm-4">
                                <div class="float-right">
                                    <button ng-click="showAddCinemaForm()" onclick="location.href='#cinemaForm';" type="button" class="btn btn-danger " style="width:100%">
                                        Add Cinema
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="card-body">
                        <div class="row table-scrollable">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                    <thead>
                                        <tr role="row">
                                            <th>No.</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>phone</th>
                                            <th>Open time</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cine in currentPageCinemaData" role="row" class="odd">
                                            <td>{{$index + 1}}</td>
                                            <td>{{cine.cinemaName}}</td>
                                            <td>{{cine.email}}</td>
                                            <td>{{cine.phone}}</td>
                                            <td>{{cine.openTime}}</td>
                                            <td>
                                                <button type="button" ng-click="cinemaDetail($index)" onclick="location.href='#cinemaForm';" class="btn btn-info" value="{{$index}}">
                                                    Detail
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr role="row">
                                            <th>No.</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>phone</th>
                                            <th>Open time</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <ul class="pagination float-right">
                                    <li ng-click="cinemaPreviousClick()" class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li ng-click="cinemaPageClick($index)" ng-repeat="t in cinemaPagingArray track by $index" ng-class="t"><a class="page-link" href="#">{{$index + 1}}</a></li>
                                    <li ng-click="cinemaNextClick()" class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="float-left">
                            <h3 ng-if="!isAddnewCinema" id="CinemaTitle">Edit Cinema</h3>
                            <h3 ng-if="isAddnewCinema" id="CinemaTitle">Add Cinema</h3>
                        </div>
                    </div>
                </div>
                <form id="cinemaForm" class="form-horizontal">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <b class="col-sm-6 control-label">Cinema Name</b>
                                    <div class="col-sm-12">
                                        <input name="inputCinemaName" type="text" class="form-control" value="{{currentCinema.cinemaName}}" id="inputCinemaName" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <b class="col-sm-2 control-label">Address: </b>
                                    <div class="col-sm-12">
                                        <input name="inputCinemaAddress" type="text" class="form-control" id="inputCinemaAddress" placeholder="" value="{{currentCinema.address}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <b class="col-sm-2 control-label">Email:</b>
                                            <div class="col-sm-12">
                                                <input name="inputCinemaEmail" type="text" class="form-control" id="inputCinemaEmail" placeholder="" value="{{currentCinema.email}}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <b class="col-sm-2 control-label">Phone:</b>
                                            <div class="col-sm-12">
                                                <input name="inputCinemaPhone" type="text" class="form-control" id="inputCinemaPhone" placeholder="" value="{{currentCinema.phone}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <b class="col-sm-2 control-label">Open time: </b>
                                    <div class="col-sm-12">
                                        <input name="inputCinemaOpenTime" type="text" class="form-control" id="inputCinemaOpenTime" placeholder="8:30 - 23:30" value="{{currentCinema.openTime}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <b class="col-sm-2 control-label">Introduction: </b>
                                    <div class="col-sm-12">
                                        <textarea id="inputCinemaIntroduction" name="inputCinemaIntroduction" class="form-control" rows="5">{{currentCinema.introduction}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <img id="cinemaProfilePicture" ng-src="{{currentCinema.profilePicture}}" style="width: 200px;height:200px" />
                                    <div class="col-sm-12">
                                        <input id="cinemaChooseFile" class="btn btn-default" type="file">
                                    </div>
                                </div>

                                <div class="form-group" ng-if="isAddnewCinema == false">
                                    <h3>Room List</h3>
                                    <button ng-click="showAddRoom()" type="button" class="btn btn-danger " style="width:100%">
                                        Add Room
                                    </button>
                                    <table class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                        <thead>
                                            <tr role="row">
                                                <th>No.</th>
                                                <th>Name</th>
                                                <th>Capacity</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="room in currentCinema.rooms track by $index" role="row" class="odd">
                                                <td>{{$index + 1}}</td>
                                                <td>{{room.name}}</td>
                                                <td>{{room.capacity}}</td>
                                                <td>
                                                    <button type="button" ng-click="viewRoom($index)" class="btn btn-info" value="{{$index}}">
                                                        View
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- /.box-body -->
                    <div class="card-footer">
                        <button ng-if="isAddnewCinema == false" type="submit" id="cinemaAction" class="btn btn-info btn-block">Save</button>
                        <button ng-if="isAddnewCinema == true" type="submit" id="cinemaAction" class="btn btn-info btn-block">Add</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>

        <!-- /.Report Management *******************************************************************-->
        <div class="col-lg-12" id="reportManagement" ng-controller="reportController">
            <table class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>
                    <tr role="row">
                        <th>No.</th>
                        <th>Name</th>
                        <th>Capacity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row" class="odd">
                        <td>{{$index + 1}}</td>
                        <td>{{room.name}}</td>
                        <td>{{room.capacity}}</td>
                        <td>
                            <button type="button" ng-click="viewRoom($index)" class="btn btn-info" value="{{$index}}">
                                View
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- choose Seat Modal-->
    <div class="modal fade" id="viewSeatModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 90% !important">
            <div class="modal-content" ng-controller="roomController" style="height:95vh">
                <div class="modal-body" style="padding:0" id="chooseSeatAreaContent">
                    <div class="w3-sidebar w3-bar-block w3-card w3-animate-right" id="seat_sidebar" style="overflow-x:hidden; right:0; border-radius: 0px 0px;display: none; background-color:#463a3c">


                        <div class="w3-container w3-collapse" style="padding:0">

                            <div class="col-lg-12" style="padding:0">
                                <div class="card" style="border-right:0px;border-top:0px">
                                    <div class="card-header ex1 text-white" style="border-radius: 0 0;">
                                        <div class="row">
                                            <div class="col-sm-12 w3-center">
                                                <h2 class="" style="padding-top:10px">Menu Panel</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="card-body" style="padding:0">
                                        <div class="w3-container border ex2 border-right-0" style="padding:0">
                                            <button class="w3-bar-item w3-button w3-large border-right-0" data-toggle="collapse" data-target="#demo" style="padding:0;height:60px; background-color: #2d2325"><i class="fas fa-check-double" style="padding-left:15px; padding-right:10px"></i>Select mode</button>
                                            <div id="demo" class="collapse show" style="background-color">
                                                <div class="row">
                                                    <div class="col-sm-6" ng-click="changeMode('multipleSelectMode')">
                                                        <button class="w3-bar-item btn border buttonsetup" type="button" style="text-align:center; font-size:12px"><img src="~/Content/img/repository/multipleselect.png" style="width:30px; height:35px;" /><br>Multiple Select</button>
                                                    </div>
                                                    <div class="col-sm-6" ng-click="changeMode('singleSelectMode')">
                                                        <button class="w3-bar-item btn border buttonsetup" type="button" style="text-align:center; font-size:12px"><i class="fas fa-check-square fa-2x"></i><br>Single Select</button>
                                                    </div>
                                                    <div class="col-sm-6" ng-click="changeMode('multipleDeleteMode')">
                                                        <button class="w3-bar-item btn border buttonsetup" type="button" style="text-align:center; font-size:12px"><i class="fas fa-window-close fa-2x" style=""></i><br>Delete </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w3-container border ex2 border-right-0" style="padding:0">
                                            <button class="w3-bar-item w3-button w3-large border-right-0" data-toggle="collapse" data-target="#extraspace" style="padding:0;height:60px; background-color: #2d2325; "><i class="fas fa-check-double" style="padding-left:15px; padding-right:10px"></i>Extra space</button>
                                            <div id="extraspace" class="collapse" style="background-color">
                                                <div class="row">
                                                    <div class="col-sm-6" ng-click="addColumn()">
                                                        <button class="w3-bar-item btn border buttonsetup" style="text-align:center; font-size:12px"><i class="fas  fa-plus fa-2x"></i><br>Add Column</button>
                                                    </div>
                                                    <div class="col-sm-6" ng-click="minusColumn()">
                                                        <button class="w3-bar-item btn border buttonsetup" style="text-align:center; font-size:12px"><i class="fas  fa-minus fa-2x"></i></i><br>Minus Column</button>
                                                    </div>
                                                    <div class="col-sm-6" ng-click="addRow()">
                                                        <button class="w3-bar-item btn border buttonsetup" style="text-align:center; font-size:12px"><i class="fas  fa-plus fa-2x"></i><br>Add Row</button>
                                                    </div>
                                                    <div class="col-sm-6" ng-click="minusRow()">
                                                        <button class="w3-bar-item btn border buttonsetup" style="text-align:center; font-size:12px"><i class="fas  fa-minus fa-2x"></i><br>Minus Row</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar navbar-light navbar-expand-md border-bottom" style="height:90px; background-color:#ffffff; box-shadow: 5px 10px 8px  #888888;" id="topbar">

                        <a href="#"><img src="~/Content/img/repository/logo.png" style="width:40px; height:40px;padding:0" /></a>
                        <div class="navbar-collapse collapse" id="collapsingNavbar">

                            <div class="row col-sm-4" style="padding-left:20px">
                                <label class="col-sm-12 control-label font-weight-bold" style="">{{currentCinema.cinemaName}}</label>
                                <input type="text" name="inputRoomName" value="{{currentRoom.name}}" id="inputRoomName" style="margin-left:14px">
                            </div>

                            <form id="seatForm" class="row col-sm-6" style="padding-left:20px; vertical-align: middle;">
                                <input type="text" name="inputCapacity" value="77" id="inputCapacity" class="form-control col-sm-6" id="InputChair" style="margin-right:15px" placeholder="Nhập số ghế">
                                <button type="submit" class="col-sm-3 btn btn-danger btn-block">Suggest</button>
                            </form>

                            <div class="col-sm-2 float-right" style="padding-right:0px;margin-left:auto">
                                <div id="seat_rightarrowdiv" class="float-right" style="display: none"><button id="seat_openNav" class="float-right btn btn-dark w3-xlarge" onclick="seat_open()"><i class="fas fa-bars"></i></button></div>
                                <div style="" class="float-right"><button id="seat_closeNav" class="float-right btn btn-dark w3-xlarge" onclick="seat_close()"><i class="fas fa-bars"></i></button></div>
                            </div>
                        </div>
                    </nav>

                    <div class="row" style="padding-top: 10px;max-height:83vh; overflow-y:auto;overflow-x:hidden" id="chooseSeatMain">
                        <div class="col-sm-12" style="padding-right:0px">
                            <div class="row">
                                <div class="col-sm-3 col-6">
                                    <div class="description-block border-right" style="text-align:center">
                                        <span class="description-text  font-weight-bold">Tổng số ghế</span>

                                        <h5 class="description-header font-weight-bold">256</h5>
                                        <span class="description-percentage  font-weight-bold"> 100%</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-3 col-6">
                                    <div class="description-block border-right" style="text-align:center">
                                        <span class="description-text  font-weight-bold">Số ghế đã sắp xếp</span>

                                        <h5 class="description-header font-weight-bold">{{seatData.length}}</h5>
                                        <span class="description-percentage  font-weight-bold"> 56.25%</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-3 col-6">
                                    <div class="description-block border-right " style="text-align:center">
                                        <span class="description-text  font-weight-bold">Số ghế chưa sắp xếp</span>

                                        <h5 class="description-header font-weight-bold">112</h5>
                                        <span class="description-percentage  font-weight-bold">43.75%</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <div class="col-sm-3 col-6">
                                    <div class="description-block  " style="text-align:center">
                                        <span class="description-text  font-weight-bold">Số ghế chưa sắp xếp</span>

                                        <h5 class="description-header font-weight-bold">112</h5>
                                        <span class="description-percentage  font-weight-bold">43.75%</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                            </div>
                            <div class="col-sm-12" style="padding-right:0px;padding-left:0px">
                                <img src="~/Content/img/repository/screen.png" style="width:100%" />
                                <div class="w3-container" id="seatAreaId">
                                    <div ng-repeat="row in matrix" class="center-div">
                                        <div class="w3-center w3-text-light-grey inlineContainer">
                                            <div style="width: 30px">
                                                <b style="margin-right: 25px; font-weight:500; color:black">{{row.alphaName}}</b>
                                            </div>

                                            <div ng-repeat="seat in row.seats">
                                                <button ng-click="onclickSeat(seat.px,seat.py)" class="{{seat.className}}" type="button">{{seat.locationX}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->


                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/js/angular.min.js"></script>
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/PartnerModule/partnerValidator.js"></script>
    <script src="~/Content/js/PartnerModule/partnerMainModule.js"></script>
    <script src="~/Content/js/PartnerModule/partnerCinemaModule.js"></script>
    <script src="~/Content/js/PartnerModule/partnerRoomModule.js"></script>
    <script src="~/Content/js/PartnerModule/partnerEmployeeModule.js"></script>
    <script src="~/Content/js/PartnerModule/partnerReportModule.js"></script>
</body>
</html>
