@{
    ViewBag.Title = "partnerHome";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="~/Content/css/w3.css">-->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <link rel="stylesheet" href="~/Content/css/partner.css">
    <link rel="stylesheet" href="~/Content/css/AdminLTE.min.css">
    <title>Viet Cine | Partner</title>
</head>
<body class="hold-transition sidebar-mini" ng-app="CombineModule" ng-controller="partnerController">
    <!--========================================== new part =================================================-->
    <input type="hidden" id="groupId" value=@ViewBag.groupId />
    <form action="/" method="post" id="gohomeForm"></form>
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/Content/img/repository/logo.png" alt="cine viet Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Viet Cine</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img ng-src="{{groupCinemaInfor.logoImg}}" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">{{groupCinemaInfor.name}}</a>
                    </div>
                    <div class="image" style="cursor:pointer" ng-click="logout()">
                        <img ng-src="~/Content/img/repository/logout.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li ng-click="manageDashboard()" class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-dashboard"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>
                        <hr style="border: 1px solid white" />
                        <li ng-click="manageEmployee()" class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-user"></i>
                                <p>
                                    Manage Employee
                                </p>
                            </a>
                        </li>
                        <li ng-click="manageCinema()" class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-book"></i>
                                <p>
                                    Manage Cinema
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <!-- Main Content -->
        <div class="content-wrapper">
            <!-- Employee Management-->
            <div class="col-lg-12" id="empManagement" ng-controller="partnerEmployeeController">
                <div class="card">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="float-left"><h3>All Employee</h3></div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="float-right">
                                        <button ng-click="showAddEmpForm()" onclick="location.href='#empForm';" type="button" class="btn btn-danger " style="width:100%">
                                            Add Employee
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="card-body">
                            <div class="row table-scrollable">
                                <div class="col-sm-12">
                                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                        <thead>
                                            <tr role="row">
                                                <th>No.</th>
                                                <th>username</th>
                                                <th>Email</th>
                                                <th>phone</th>
                                                <th>Cinema</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="emp in currentPageEmpData" role="row" class="odd">
                                                <td>{{$index + 1}}</td>
                                                <td>{{emp.username}}</td>
                                                <td>{{emp.email}}</td>
                                                <td>{{emp.phone}}</td>
                                                <td>{{emp.cinemaName}}</td>
                                                <td>
                                                    <button type="button" ng-click="employeeDetail($index)" onclick="location.href='#empForm';" class="btn btn-info" value="{{$index}}">
                                                        Detail
                                                    </button>
                                                    <button type="button" ng-click="deleteEmployee($index)" class="btn btn-danger" value="{{$index}}">
                                                        Delete
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul class="pagination float-right">
                                        <li ng-click="empPreviousClick()" class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li ng-click="empPageClick($index)" ng-repeat="t in empPagingArray track by $index" ng-class="t"><a class="page-link" href="#">{{$index + 1}}</a></li>
                                        <li ng-click="empNextClick()" class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="card">
                    <a name="edit" style="display:none"></a>
                    <div class="card-header">
                        <div class="row">
                            <div class="float-left">
                                <h3 ng-if="isAddnewEmp == false" id="editEmployeeTitle">Edit Partner</h3>
                                <h3 ng-if="isAddnewEmp == true" id="editEmployeeTitle">Add Partner</h3>
                            </div>
                        </div>
                    </div>
                    <form id="empForm" class="form-horizontal">
                        <div class="card-body">
                            <div class="form-group">
                                <b class="col-sm-6 control-label">Employee username</b>
                                <div class="col-sm-12">
                                    <input name="inputEmpUsername" type="text" class="form-control" id="inputEmpUsername" value="{{currentEmployee.username}}" placeholder="">
                                    <b id="inputEmpUsernameErr" style="color:red;display:none">username is wrong format!</b>
                                 </div>
                            </div>
                            <div ng-if="isAddnewEmp == true" class="form-group">
                                <b class="col-sm-2 control-label">Password</b>
                                <div class="col-sm-12">
                                    <div><input name="inputEmpPassword" id="inputEmpPassword" type="password" class="form-control" placeholder=""></div>
                                </div>
                            </div>
                            <div ng-if="isAddnewEmp == true" class="form-group">
                                <b class="col-sm-6 control-label">Re-confirm Password</b>
                                <div class="col-sm-12">
                                    <div><input name="inputEmpConfirmPassword" type="password" class="form-control" id="inputEmpConfirmPassword" placeholder=""></div>
                                </div>
                            </div>
                            <div ng-if="isAddnewEmp == true" class="form-group">
                                <b class="col-sm-2 control-label">Select Cinema (select one):</b>
                                <div class="col-sm-12">
                                    <select class="form-control" name="inputEmpSelectCinema" id="inputEmpSelectCinema">
                                        <option disabled selected value> -- select an option -- </option>
                                        <option ng-repeat="cinema in allCinemaData" value="{{cinema.cinemaId}}">{{cinema.cinemaName}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <b class="col-sm-2 control-label">Employee name</b>
                                <div class="col-sm-12">
                                    <input name="inputEmpName" type="text" class="form-control" id="inputEmpName" placeholder="" value="{{currentEmployee.name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <b class="col-sm-2 control-label">Phone:</b>
                                <div class="col-sm-12">
                                    <input name="inputEmpPhone" type="text" class="form-control" id="inputEmpPhone" placeholder="" value="{{currentEmployee.phone}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <b class="col-sm-2 control-label">Email:</b>
                                <div class="col-sm-12">
                                    <input name="inputEmpEmail" type="text" class="form-control" id="inputEmpEmail" placeholder="" value="{{currentEmployee.email}}">
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="card-footer">
                            <button ng-if="isAddnewEmp == false" type="submit" id="empAction" class="btn btn-info btn-block">Save</button>
                            <button ng-if="isAddnewEmp == true" type="submit" id="empAction" class="btn btn-info btn-block">Add</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
            <!--manage cinema-->
            <div class="col-lg-12" id="cinemaManagement" ng-controller="partnerCinemaController">
                <div class="card">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="float-left"><h3>All Cinemas</h3></div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="float-right">
                                        <button ng-click="showAddCinemaForm()" onclick="location.href='#cinemaForm';" type="button" class="btn btn-danger " style="width:100%">
                                            Add Cinema
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="card-body">
                            <div class="row table-scrollable">
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                        <thead>
                                            <tr role="row">
                                                <th>No.</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>phone</th>
                                                <th>Open time</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="cine in currentPageCinemaData" role="row" class="odd">
                                                <td>{{$index + 1}}</td>
                                                <td>{{cine.cinemaName}}</td>
                                                <td>{{cine.email}}</td>
                                                <td>{{cine.phone}}</td>
                                                <td>{{cine.openTime}}</td>
                                                <td>
                                                    <button type="button" ng-click="cinemaDetail($index)" onclick="location.href='#cinemaForm';" class="btn btn-info" value="{{$index}}">
                                                        Detail
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul class="pagination float-right">
                                        <li ng-click="cinemaPreviousClick()" class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li ng-click="cinemaPageClick($index)" ng-repeat="t in cinemaPagingArray track by $index" ng-class="t"><a class="page-link" href="#">{{$index + 1}}</a></li>
                                        <li ng-click="cinemaNextClick()" class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="float-left">
                                <h3 ng-if="!isAddnewCinema" id="CinemaTitle">Edit Cinema</h3>
                                <h3 ng-if="isAddnewCinema" id="CinemaTitle">Add Cinema</h3>
                            </div>
                        </div>
                    </div>
                    <form id="cinemaForm" class="form-horizontal">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <b class="col-sm-6 control-label">Cinema Name</b>
                                        <div class="col-sm-12">
                                            <input name="inputCinemaName" type="text" class="form-control" value="{{currentCinema.cinemaName}}" id="inputCinemaName" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <b class="col-sm-2 control-label">Address: </b>
                                        <div class="col-sm-12">
                                            <input name="inputCinemaAddress" type="text" class="form-control" id="inputCinemaAddress" placeholder="" value="{{currentCinema.address}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <b class="col-sm-2 control-label">Email:</b>
                                                <div class="col-sm-12">
                                                    <input name="inputCinemaEmail" type="text" class="form-control" id="inputCinemaEmail" placeholder="" value="{{currentCinema.email}}">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <b class="col-sm-2 control-label">Phone:</b>
                                                <div class="col-sm-12">
                                                    <input name="inputCinemaPhone" type="text" class="form-control" id="inputCinemaPhone" placeholder="" value="{{currentCinema.phone}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <b class="col-sm-2 control-label">Open time: </b>
                                        <div class="col-sm-12">
                                            <input name="inputCinemaOpenTime" type="text" class="form-control" id="inputCinemaOpenTime" placeholder="8:30 - 23:30" value="{{currentCinema.openTime}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <b class="col-sm-2 control-label">Introduction: </b>
                                        <div class="col-sm-12">
                                            <textarea id="inputCinemaIntroduction" name="inputCinemaIntroduction" class="form-control" rows="5">{{currentCinema.introduction}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <img id="cinemaProfilePicture" ng-src="{{currentCinema.profilePicture}}" style="width: 150px; height: 150px; text-align: center" />
                                        </div>

                                        <div class="col-sm-12">
                                            <input id="cinemaChooseFile" class="btn btn-default" type="file">
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="loaderSmall" id="loaderPicture"></div>
                                            <button id="uploadImageBtn" type="button" class="btn btn-info" ng-click="uploadPicture()">Upload Image</button>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-if="isAddnewCinema == false">
                                        <div style="overflow-y: auto; max-height: 250px">
                                            <button ng-click="showAddRoom()" type="button" class="btn btn-danger " style="width:100%">
                                                Add Room
                                            </button>
                                            <table class="table table-bordered table-hover dataTable table-striped">
                                                <thead>
                                                    <tr role="row">
                                                        <th>No.</th>
                                                        <th>Name</th>
                                                        <th>Capacity</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="room in currentCinema.rooms track by $index" role="row" class="odd">
                                                        <td>{{$index + 1}}</td>
                                                        <td>{{room.name}}</td>
                                                        <td>{{room.capacity}}</td>
                                                        <td>
                                                            <button type="button" ng-click="viewRoom($index)" class="btn btn-info" value="{{$index}}">
                                                                View
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- /.box-body -->
                        <div class="card-footer">
                            <button ng-if="isAddnewCinema == false" type="submit" id="cinemaAction" class="btn btn-info btn-block">Save</button>
                            <button ng-if="isAddnewCinema == true" type="submit" id="cinemaAction" class="btn btn-info btn-block">Add</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
                <!-- choose Seat Modal-->
                <div style="z-index:10000" class="modal fade" id="viewSeatModal" data-backdrop="static" data-keyboard="false" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" style="max-width: 90% !important">
                        <div class="modal-content" ng-controller="roomController" style="height:95vh">
                            <div class="modal-body" style="padding:0" id="chooseSeatAreaContent">
                                <img ng-click="closeSeatModal()" class="mynewclassclose" src="http://expediaholiday.d.seven2.net/_images/modal_close.png" />
                                <div class="w3-sidebar w3-bar-block w3-card w3-animate-right" id="seat_sidebar" style="overflow-x:hidden; right:0; border-radius: 0px 0px;display: none; background-color:#463a3c">
                                    <div class="w3-container w3-collapse" style="padding:0">

                                        <div class="col-lg-12" style="padding:0">
                                            <div class="card" style="border-right:0px;border-top:0px">
                                                <div class="card-header ex1 text-white" style="border-radius: 0 0;">
                                                    <div class="row">
                                                        <div class="col-sm-12 w3-center">
                                                            <h2 class="" style="padding-top:10px">Menu Panel</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.box-header -->
                                                <div class="card-body" style="padding:0">
                                                    <div class="w3-container border ex2 border-right-0" style="padding:0">
                                                        <button class="w3-bar-item w3-button w3-large border-right-0" data-toggle="collapse" data-target="#demo" style="padding:0;height:60px; background-color: #2d2325"><i class="fas fa-check-double" style="padding-left:15px; padding-right:10px"></i>Select mode</button>
                                                        <div id="demo" class="collapse" style="">
                                                            <div class="row">
                                                                <div class="col-sm-6" ng-click="changeMode('multipleSelectMode')">
                                                                    <button class="w3-bar-item btn border buttonsetup" type="button" style="text-align:center; font-size:12px"><img src="~/Content/img/repository/multipleselect.png" style="width:30px; height:35px;" /><br>Multiple Select</button>
                                                                </div>
                                                                <div class="col-sm-6" ng-click="changeMode('singleSelectMode')">
                                                                    <button class="w3-bar-item btn border buttonsetup" type="button" style="text-align:center; font-size:12px"><i class="fas fa-check-square fa-2x"></i><br>Single Select</button>
                                                                </div>
                                                                <div class="col-sm-6" ng-click="changeMode('multipleDeleteMode')">
                                                                    <button class="w3-bar-item btn border buttonsetup" type="button" style="text-align:center; font-size:12px"><i class="fas fa-window-close fa-2x" style=""></i><br>Delete </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="w3-container border ex2 border-right-0" style="padding:0">
                                                        <button class="w3-bar-item w3-button w3-large border-right-0" data-toggle="collapse" data-target="#extraspace" style="padding:0;height:60px; background-color: #2d2325; "><i class="fas fa-check-double" style="padding-left:15px; padding-right:10px"></i>Extra space</button>
                                                        <div id="extraspace" class="collapse" style="background-color">
                                                            <div class="row">
                                                                <div class="col-sm-6" ng-click="addColumn()">
                                                                    <button class="w3-bar-item btn border buttonsetup" style="text-align:center; font-size:12px"><i class="fas  fa-plus fa-2x"></i><br>Add Column</button>
                                                                </div>
                                                                <div class="col-sm-6" ng-click="minusColumn()">
                                                                    <button class="w3-bar-item btn border buttonsetup" style="text-align:center; font-size:12px"><i class="fas  fa-minus fa-2x"></i></i><br>Minus Column</button>
                                                                </div>
                                                                <div class="col-sm-6" ng-click="addRow()">
                                                                    <button class="w3-bar-item btn border buttonsetup" style="text-align:center; font-size:12px"><i class="fas  fa-plus fa-2x"></i><br>Add Row</button>
                                                                </div>
                                                                <div class="col-sm-6" ng-click="minusRow()">
                                                                    <button class="w3-bar-item btn border buttonsetup" style="text-align:center; font-size:12px"><i class="fas  fa-minus fa-2x"></i><br>Minus Row</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <nav id="viewRoomHeader" class="navbar navbar-light navbar-expand-md border-bottom" style="height:90px; background-color:#ffffff; box-shadow: 5px 10px 8px  #888888;" id="topbar">

                                    <a href="#"><img src="~/Content/img/repository/logo.png" style="width:40px; height:40px;padding:0" /></a>
                                    <div id="viewRoomHeader" class="navbar-collapse collapse">
                                        <div class="row col-sm-4" style="padding-left:20px">
                                            <label class="col-sm-12 control-label font-weight-bold" style="">{{currentCinema.cinemaName}}</label>
                                            <span style="margin-left:14px">{{currentRoom.name}}</span>
                                        </div>
                                    </div>
                                </nav>
                                <nav id="addRoomHeader" class="navbar navbar-light navbar-expand-md border-bottom" style="height:90px; background-color:#ffffff; box-shadow: 5px 10px 8px  #888888;">

                                    <a href="#"><img src="~/Content/img/repository/logo.png" style="width:40px; height:40px;padding:0" /></a>
                                    <form id="addRoomHeader" class="navbar-collapse collapse">

                                        <div class="row col-sm-4" style="padding-left:20px">
                                            <label class="col-sm-12 control-label font-weight-bold" style="">{{currentCinema.cinemaName}}</label>
                                            <input type="text" class="form-control col-sm-6" style="margin-right:15px" id="inputRoomName" placeholder="Enter room name" required>
                                            <span id="dupplicateRoomNameId" style="color:red; display:none;">This room name already exist!</span>
                                        </div>

                                        <div class="row col-sm-6" style="padding-left:20px; vertical-align: middle;">
                                            <input type="number" min="80" max="300" name="inputCapacity" value="" id="inputCapacity" class="form-control col-sm-6" style="margin-right:15px" placeholder="Enter number of seat">
                                            
                                            <button type="submit" id="suggestBtn" class="col-sm-3 btn btn-danger btn-block">Suggest</button>
                                            <b style="color:red;display:none" id="capacityErrId">This field is require!</b>
                                        </div>

                                    </form>
                                </nav>

                                <div class="row" style="padding-top: 10px;max-height:83vh; overflow-y:auto;overflow-x:hidden" id="chooseSeatMain">
                                    <div class="col-sm-12" style="padding-right:0px">
                                        <div class="row" ng-if="isAddRoom">
                                            <div class="col-sm-3 col-6">
                                                <div class="description-block border-right" style="text-align:center">
                                                    <span class="description-text  font-weight-bold">Tổng số ghế</span>

                                                    <h5 class="description-header font-weight-bold" style="color:red">{{currentCapacity}}</h5>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-3 col-6">
                                                <div class="description-block border-right" style="text-align:center">
                                                    <span class="description-text  font-weight-bold">Số ghế đã sắp xếp</span>

                                                    <h5 class="description-header font-weight-bold" style="color:red">{{seatData.length}}</h5>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-3 col-6">
                                                <div class="description-block border-right " style="text-align:center">
                                                    <span class="description-text  font-weight-bold">Số ghế chưa sắp xếp</span>

                                                    <h5 class="description-header font-weight-bold" style="color:red">{{currentCapacity - seatData.length}}</h5>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <div class="col-sm-3 col-6">
                                                <div class="description-block  " style="text-align:center">
                                                    <span class="description-text  font-weight-bold">Kích cỡ hiện tại</span>

                                                    <h5 class="description-header font-weight-bold" style="color:red">{{currentSizeX}} x {{currentSizeY}}</h5>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                        </div>
                                        <div class="col-sm-12" id="seatScrollPart" style="padding-right:0px;padding-left:0px; overflow-y:auto; max-height:63vh">
                                            <img src="~/Content/img/repository/screen.png" style="width:100%" />
                                            <div class="w3-container" id="seatAreaId">
                                                <div ng-repeat="row in matrix" class="center-div">
                                                    <div class="w3-center w3-text-light-grey inlineContainer">
                                                        <div style="width: 30px">
                                                            <b style="margin-right: 25px; font-weight:500; color:black">{{row.alphaName}}</b>
                                                        </div>

                                                        <div ng-repeat="seat in row.seats">
                                                            <button ng-click="onclickSeat(seat.px,seat.py)" class="{{seat.className}}" type="button">{{seat.locationX}}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="roomAction" class="col-sm-12" id="footer" style="bottom:0; position: fixed; padding-right:15% ;padding-left:0px; margin:0; margin-bottom:8px">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <button ng-click="reviewSeat()" id="reviewSeatBtn" class="btn btn-info float-right" type="button" style="width: 100px">Preview</button>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="loaderSmall" id="room-loader" style="display:none"></div>
                                                        <button ng-click="save()" id="room-saver" class="btn btn-info float-left" type="button" style="width: 100px">Save</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Modal footer -->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" id="dashboardManagement" ng-controller="partnerDashboardController">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="info-box">
                                <span class="info-box-icon bg-info elevation-1"><i class="fa fa-film"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Cinemas</span>
                                    <span class="info-box-number">
                                        {{dashboardCommonData.totalCinema}}
                                    </span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="info-box mb-3">
                                <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-users"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Employee</span>
                                    <span class="info-box-number">{{dashboardCommonData.totalEmp}}</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <!-- fix for small devices only -->
                        <div class="clearfix hidden-md-up"></div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="info-box mb-3">
                                <span class="info-box-icon bg-success elevation-1"><i class="fa fa-shopping-cart"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Daily Sales (VND)</span>
                                    <span class="info-box-number">{{dashboardCommonData.revenueToday/1000}} K</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="info-box mb-3">
                                <span class="info-box-icon bg-warning elevation-1"><i class="fa fa-shopping-cart"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Weekly Sales (VND)</span>
                                    <span class="info-box-number">{{dashboardCommonData.revenueWeek / 1000}} K</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <div class="row">
                        <div class="col-lg-6 card" style="height: 330px">
                            <div class="card-header">
                                <h3 class="card-title">Ticket Weekly Statistic</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="chart-responsive">
                                            <canvas id="pieChart" height="162" width="199" style="width: 199px; height: 162px;"></canvas>
                                        </div>
                                        <!-- ./chart-responsive -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-4">
                                        <ul class="chart-legend clearfix">
                                            <li ng-repeat="cine in pieChartData"><i class="fa fa-circle-o text-danger" style="color: {{cine.color}} !important;"></i> {{cine.label}}</li>
                                        </ul>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer bg-white p-0">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            Total ticket Sold
                                            <span class="float-right text-danger">
                                                {{dashboardCommonData.ticketSoldInWeek}}
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.footer -->
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header no-border">
                                    <h3 class="card-title">Revenue In Week</h3>
                                </div>
                                <div class="card-body p-0">
                                    <table class="table table-striped table-valign-middle">
                                        <thead>
                                            <tr>
                                                <th>Cinema</th>
                                                <th>Revenue (VND)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="cine in pieChartData">
                                                <td>{{cine.label}}</td>
                                                <td>
                                                    {{cine.revenue }} K
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">

                    </div>
                    <!-- /.content -->
                </div>
            </div>
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>

    <!-- validate Modal -->
    <div class="modal fade" id="validateModal" role="dialog" style="z-index:20000">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header justify-content-center align-self-center border-bottom-0">
                    <img class="" src="~/Content/img/repository/Post-notification.png" style="width:80px; height: 50px">
                </div>
                <div class="modal-body justify-content-center align-self-center ">
                    <h6 id="modalMessage">Bạn không thể bỏ trống 1 ghế ở đầu mỗi dãy</h6>
                </div>
                <div class="modal-footer justify-content-center">
                    <button id="dismissBtn" type="button" class="btn btn-danger" data-dismiss="modal">OK</button>

                </div>

            </div>
        </div>
    </div>
    <script src="~/Content/js/angular.min.js"></script>
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/adminlte.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="~/Content/js/PartnerModule/partnerValidator.js"></script>
    <script src="~/Content/js/PartnerModule/pieChart.js"></script>
    <script src="~/Content/js/PartnerModule/partnerMainModule.js"></script>
    <script src="~/Content/js/PartnerModule/partnerCinemaModule.js"></script>
    <script src="~/Content/js/PartnerModule/partnerDashboardModule.js"></script>
    <script src="~/Content/js/PartnerModule/partnerRoomModule.js"></script>
    <script src="~/Content/js/PartnerModule/partnerEmployeeModule.js"></script>
    <script src="~/Content/js/PartnerModule/partnerReportModule.js"></script>
</body>
</html>
