@{
    ViewBag.Title = "ChooseSeat";
}

<h2>ChooseSeat</h2>

<html ng-app="seatModule">
<head>
    <title>Chọn Ghế</title>
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/css/w3.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/chooseSeat.css">
    <link rel="stylesheet" href="~/Content/css/common.css">
</head>
<body ng-controller="seatController">
    <form method="post" action="/" id="gotoHomeForm" style="display:none"></form>
    <form method="post" action="/home/BackToChooseTicket" id="BackToChooseTicketForm" style="display:none"></form>
    <div id="successDialog" class="modal ">
        <div class="modal-content overflow-scroll">
            <h1>Thanh toán thành công</h1>
            <button class="w3-btn w3-red" id="goHomeBtn" ng-click="goHome()">Tiếp tục mua vé</button>
        </div>
    </div>
    <div id="myModal" class="modal ">
        <div class="modal-content overflow-scroll">
            <span class="close">&times;</span>
            <div class="content">
                <div class="box-a row container" style="width: 80%; margin-left: 10%; margin-right: 10%;">
                    <div class="img-film column">
                        <img style="width: 180px;" ng-src="{{scheduleData.img}}">
                    </div>
                    <div class="info column" style="margin-left: 40px;">
                        <div class="title-info container">
                            <span class="icon">C16</span>
                            <span class="icon">2D</span>
                            <span class="icon">Digital</span>
                            <p style="display: inline-block">{{scheduleData.filmName}}</p>
                            <hr>
                            <p><i class="far fa-circle"></i>Giao dịch sẽ hết hạn trong vòng: <span ng-model="countDown" style="color: red; font-weight: bold;">{{Math.floor(countDown/60)}}:{{countDown%60}}</span> s</p>
                        </div>
                        <div class="content-info">
                            <h2>{{scheduleData.cinemaName}}</h2>
                            <p>{{scheduleData.cinemaAddress}}</p>
                            <div class="info-sticket">
                                <table style="width:100%">
                                    <tr>
                                        <th>Mã vé:</th>
                                        <td>2685058</td>
                                    </tr>
                                    <tr>
                                        <th>Suất chiếu:</th>
                                        <td>{{scheduleData.startTime}} {{scheduleData.date}}</td>
                                    </tr>
                                    <tr>
                                        <th>Phòng:</th>
                                        <td>{{scheduleData.cinemaName}} - {{scheduleData.roomName}}</td>
                                    </tr>
                                    <tr>
                                        <th>Ghế: </th>
                                        <td><span ng-repeat="seat in choosedList">{{alpha[seat.py]}}{{seat.px+1}}</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="box-b" style="width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 30px;">
                    <h4>Thông tin đặt vé</h4>
                    <table style="width:100%">
                        <tr>
                            <th>Họ tên:</th>
                            <td>danhlc</td>
                        </tr>
                        <tr>
                            <th>Điện thoại</th>
                            <td>{{phone}}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{{email}}</td>
                        </tr>
                        <tr>
                            <th>Trạng thái:</th>
                            <td>đang chờ kết quả thanh toán</td>
                        </tr>
                        <tr>
                            <th>Tổng tiền</th>
                            <td>{{totalAmount}}đ</td>
                        </tr>
                    </table>
                </div>
                <div class="box-c" style="background: green; width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 20px;">
                    <span style="color: white;">
                        <!--<p style="text-align: left">Thanh toán Papal:</p>-->
                        <p id="paypal-button-container" style="text-align: center; font-size: 50px; font-weight: bold">Thanh Toan Paypal</p>
                    </span>
                </div>
                <div style="width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 30px;">
                    <p><i class="far fa-circle"></i>Vui lòng bấm nút bên trên để hoàn tất thanh toán</p>
                    <p><i class="far fa-circle"></i>Mã vé sẽ được gửi qua số điện thoại và email của bạn</p>

                </div>
            </div>
        </div>

    </div>
    <input id="scheduleId" type="hidden" value=@ViewBag.scheduleId />
    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-card" style="width:25%;right:0;top:0">
        <div class="w3-container w3-collapse">
            <h1 class="w3-center w3-text-green w3-border-bottom">{{totalAmount}}</h1>
            <br /><br />
            <div class="w3-bar-item w3-button w3-border-bottom">
                <b>{{scheduleData.filmName}}</b><br />
                <span>{{scheduleData.cinemaName}}</span><br />
                <span>{{scheduleData.date}} - {{scheduleData.startTime}} - {{scheduleData.roomName}}</span>
            </div>
            <div class="w3-bar-item w3-button w3-border-bottom">
                <span style="float:left;color:red">Ghế: <span ng-repeat="seat in choosedList">{{alpha[seat.py]}}{{seat.px+1}} ;</span></span>
                <span style="float:right;color:green">{{totalAmount}}</span>
            </div>
            <p>
                <label>E-mail</label>
                <input id="emailId" class="w3-input" type="text" value="danhle@gmail.com">
            </p>
            <p>
                <label>Phone</label>
                <input id="phoneId" class="w3-input" type="text" value="1234567899">
            </p>
            <div class="w3-bar-item w3-button w3-border-bottom">
                <span><input id="male" class="w3-radio" type="radio" name="gender" value="male" checked=""></span>
                <span><img class="icon" src="~/Content/img/repository/paypal.png" /></span>
                <span class="w3-large">Thanh toán qua paypal</span>
            </div>

        </div>
        <button id="checkoutButton" ng-click="checkout()" class="w3-btn w3-padding-large w3-green fixedBottom" style="height: 80px;">Thanh toán</button>
    </div>

    <!-- Page Content -->
    <div style="margin-right:25%">
        <div class="navbar">
            <a href="#home">Chọn vé</a>
            <a href="#news">Chọn Ghế</a>
            <a href="#contact">Thanh Toán</a>
        </div>
        <div class="w3-container w3-row" style="margin-top:100px">
            <div class="w3-half w3-container" style="float:left">
                <div class="w3-cell-row">
                    <div class="w3-cell w3-cell-middle">
                        <img width="50" height="50" ng-src="{{scheduleData.groupCinemaImg}}" />
                    </div>
                    <div class="w3-cell w3-cell-middle">
                        <span>{{scheduleData.cinemaName}}</span><br />
                        <span>{{scheduleData.date}} - {{scheduleData.startTime}} - {{scheduleData.roomName}}</span>
                    </div>
                </div>
            </div>
            <div class="w3-half w3-container">
                <div style="float:right">
                    <span>thoi gian giu ghe</span><br />
                    <span>04:50</span>
                </div>
            </div>
        </div>
        <div class="w3-container w3-row w3-margin-top">
            <img src="~/Content/img/repository/screen.png" style="width:100%" />
            <div class="w3-container">
                <div ng-repeat="row in matrix" class="center-div">
                    <div class="w3-col w3-center " style="width: 50px; ">
                        <b>{{row.alphaName}}</b>
                    </div>
                    <div class="w3-rest w3-center w3-text-light-grey">
                        <button ng-repeat="seat in row.seats" ng-click="onclickSeat(seat.seatId,seat.px,seat.py,seat.seatStatus)" class="{{seat.className}}" type="button">{{seat.px + 1}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-container w3-row w3-margin-top">
            <div class="center-div">
                <button type="button" class="btn-seat"></button> Ghế trống
                <button type="button" class="btn-xl" style="width:60px;"></button> Ghế đôi
                <button type="button" class="btn-seat-choosing"></button> Ghế đang chọn
                <button type="button" class="btn-seat-buyed"></button> Ghế đã có người chọn
            </div>
        </div>
    </div>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/chooseSeat.js"></script>
</body>
</html>
