@{
    ViewBag.Title = "ChooseSeat";
}

<h2>ChooseSeat</h2>

<html ng-app="seatModule">
<head>
    <title>Chọn Ghế</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/css/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/chooseSeat.css">
    <link rel="stylesheet" href="~/Content/css/common.css">
</head>
<body ng-controller="seatController">
    <input id="scheduleId" type="hidden" value=@ViewBag.scheduleId />
    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-card" style="width:30%;right:0;top:0">
        <div class="w3-container w3-collapse">
            <h2 class="w3-center w3-text-green">90.000 d</h2>
            <div class="w3-bar-item w3-button w3-border-bottom">
                <b>The gioi khung long vuong quoc sup do - jurasic world falling king dom</b><br />
                <span>Galaxy - nguyen du</span><br />
                <span>hom nay - 12/6/2018 - 22:30 - Rap 3</span>
            </div>
            <div class="w3-bar-item w3-button w3-border-bottom">
                <span class="w3-red" style="float:left">Ghế: </span>
                <span class="w3-green" style="float:right">90.000 d</span>
            </div>
            <p>
                <label>E-mail</label>
                <input class="w3-input" type="text" value="{{email}}">
            </p>
            <p>
                <label>Phone</label>
                <input class="w3-input" type="text">
            </p>
            <div class="w3-bar-item w3-button w3-border-bottom">
                <span><input id="male" class="w3-radio" type="radio" name="gender" value="male" checked=""></span>
                <span><img class="icon" src="https://www.w3schools.com/images/w3schools.png" /></span>
                <span class="w3-large">thanh toan qua paypal</span>
            </div>

        </div>
        <button class="w3-btn w3-padding-large w3-green fixedBottom" style="height: 80px;">Thanh toan</button>
    </div>

    <!-- Page Content -->
    <div style="margin-right:30%">
        <div class="navbar" style="float:left">
            <a href="#home">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
        </div>
        <div class="w3-container w3-row" style="margin-top:100px">
            <div class="w3-half w3-container" style="float:left">
                <div class="w3-cell-row">
                    <div class="w3-cell w3-cell-middle">
                        <img width="50" height="50" src="https://www.123phim.vn/app/assets/img/icons/ZaloPay.png" />
                    </div>
                    <div class="w3-cell w3-cell-middle">
                        <span>Galaxy - Nguyen Du</span><br />
                        <span>Hom nay - 22:30 - Rap 3</span>
                    </div>
                </div>
            </div>
            <div class="w3-half w3-container">
                <div style="float:right">
                    <span>thoi gian giu ghe</span><br />
                    <span>04:50</span>
                </div>
            </div>
        </div>
        <div class="w3-container w3-row w3-margin-top">
            <img src="~/Content/img/repository/screen.png" style="width:100%" />
            <div class="w3-container">
                <div ng-repeat="row in matrix" class="center-div">
                    <div class="w3-col w3-center " style="width: 50px; ">
                        <b>{{row.alphaName}}</b>
                    </div>
                    <div class="w3-rest w3-center w3-text-light-grey">
                        <button ng-repeat="col in row.seats" class="{{col.className}}" type="button"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-container w3-row w3-margin-top">
            <div class="center-div">
                <button type="button" class="btn-xl"></button> Ghế trống
                <button type="button" class="btn-xl" style="width:60px;"></button> Ghế đôi
                <button type="button" class="btn-xl btn-success"></button> Ghế đã chọn
                <button type="button" class="btn-xl btn-warning"></button> Ghế đã có người chọn
            </div>
        </div>
    </div>
    <script src="~/Content/js/angular.min.js"></script>
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/chooseSeat.js"></script>
</body>
</html>
