@{
    ViewBag.Title = "ChooseSeat";
}
<html ng-app="seatModule">
<head>
    <title>Chọn Ghế</title>
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/css/w3.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/css/chooseSeat.css">

    <style>
        body {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fff;
        }
    </style>
</head>
<body ng-controller="seatController">
    <form method="post" action="/" id="gotoHomeForm" style="display:none"></form>
    <form method="post" action="/home/BackToChooseTicket" id="BackToChooseTicketForm" style="display:none"></form>

    <!-- validate Modal -->
    <div class="modal fade" id="validateModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header justify-content-center align-self-center border-bottom-0">
                    <img class="" src="~/Content/img/repository/Post-notification.png" style="width:80px; height: 50px">
                </div>
                <div class="modal-body justify-content-center align-self-center ">
                    <h6 id="modalMessage">Bạn không thể bỏ trống 1 ghế ở đầu mỗi dãy</h6>
                </div>
                <div class="modal-footer justify-content-center">
                    <button id="dismissBtn" type="button" class="ex1 button1" data-dismiss="modal">OK</button>
                    
                </div>

            </div>
        </div>
    </div>

    <!-- backdropModal -->
    <div class="modal fade" id="backdropModal" data-backdrop="static" data-keyboard="false" role="dialog" >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header justify-content-center align-self-center border-bottom-0">
                    <img class="" src="~/Content/img/repository/Post-notification.png" style="width:80px; height: 50px">
                </div>
                <div class="modal-body justify-content-center align-self-center ">
                    <h6 id="backdropMessage">Bạn không thể bỏ trống 1 ghế ở đầu mỗi dãy</h6>
                </div>
                <div class="modal-footer justify-content-center">
                    <button id="goHomeBtn" type="button" class="ex1 button1">OK home</button>
                </div>

            </div>
        </div>
    </div>

    <!-- confirm ticket modal -->
    <div class="modal fade" id="confirmTicketModal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <span id="btnCloseConfirmDialog" class="close">&times;</span>
                <div class="content">
                    <div class="box-a row container" style="width: 80%; margin-left: 10%; margin-right: 10%;">
                        <div class="img-film column">
                            <img style="width: 180px;" ng-src="{{scheduleData.img}}">
                        </div>
                        <div class="info column" style="margin-left: 40px;">
                            <div class="title-info container">
                                <span class="icon">C16</span>
                                <span class="icon">2D</span>
                                <span class="icon">Digital</span>
                                <p style="display: inline-block">{{scheduleData.filmName}}</p>
                                <hr>
                                <p><i class="far fa-circle"></i>Giao dịch sẽ hết hạn trong vòng: <span ng-model="countDown" style="color: red; font-weight: bold;">{{Math.floor(countDown/60)}}:{{countDown%60}}</span> s</p>
                            </div>
                            <div class="content-info">
                                <h2>{{scheduleData.cinemaName}}</h2>
                                <p>{{scheduleData.cinemaAddress}}</p>
                                <div class="info-sticket">
                                    <table style="width:100%">
                                        <tr>
                                            <th>Mã vé:</th>
                                            <td>2685058</td>
                                        </tr>
                                        <tr>
                                            <th>Suất chiếu:</th>
                                            <td>{{scheduleData.startTime}} {{scheduleData.date}}</td>
                                        </tr>
                                        <tr>
                                            <th>Phòng:</th>
                                            <td>{{scheduleData.cinemaName}} - {{scheduleData.roomName}}</td>
                                        </tr>
                                        <tr>
                                            <th>Ghế: </th>
                                            <td><span ng-repeat="seat in choosedList">{{alpha[seat.py]}}{{seat.px+1}}</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="box-b" style="width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 30px;">
                        <h4>Thông tin đặt vé</h4>
                        <table style="width:100%">
                            <tr>
                                <th>Họ tên:</th>
                                <td>danhlc</td>
                            </tr>
                            <tr>
                                <th>Điện thoại</th>
                                <td>{{phone}}</td>
                            </tr>
                            <tr>
                                <th>Email:</th>
                                <td>{{email}}</td>
                            </tr>
                            <tr>
                                <th>Trạng thái:</th>
                                <td>đang chờ kết quả thanh toán</td>
                            </tr>
                            <tr>
                                <th>Tổng tiền</th>
                                <td>{{totalAmount}}đ</td>
                            </tr>
                        </table>
                    </div>
                    <div class="box-c" style="background: green; width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 20px;">
                        <span style="color: white;">

                            <p id="paypal-button-container" style="text-align: center; font-size: 50px; font-weight: bold">Thanh Toan Paypal</p>
                        </span>
                    </div>
                    <div style="width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 30px;">
                        <p><i class="far fa-circle"></i>Vui lòng bấm nút bên trên để hoàn tất thanh toán</p>
                        <p><i class="far fa-circle"></i>Mã vé sẽ được gửi qua số điện thoại và email của bạn</p>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="mainContainer">
        <input id="scheduleId" type="hidden" value=@ViewBag.scheduleId />
        <!-- Sidebar -->
        <div class="w3-sidebar w3-bar-block w3-card" style="width:25%;right:0;top:0">
            <div class="w3-container w3-collapse">
                <h2 >{{totalAmount}} Đ</h2>
                <hr style="border-top: dotted 1px;" />
                <div class="" style="line-height:25px">
                    <b>{{scheduleData.filmName}}</b><br />
                    <span>{{scheduleData.cinemaName}}</span><br />
                    <span>{{scheduleData.date}} - {{scheduleData.startTime}} - {{scheduleData.roomName}}</span>
                </div><br /><hr style="border-top: dotted 1px;" />
                <div class="">
                    <span style="float:left;color:red;font-weight:600;font-size:15px">Ghế: <span ng-repeat="seat in choosedList">{{alpha[seat.py]}}{{seat.px+1}} ;</span></span>
                    <span style="float: right; color: green; font-weight: 600; font-size: 15px">{{totalAmount}}</span>
                </div><br/><br />
                <p>
                    <label>E-mail</label>
                    <input id="emailId" class="w3-input" type="text" value="danhlcse61769@fpt.edu.vn">
                </p>
                <p>
                    <label>Phone</label>
                    <input id="phoneId" class="w3-input" type="text" value="1234567899">
                </p>
                <b>Hình thức thanh toán</b><br/>
                <div>
                    <span><input id="male" class="w3-radio" type="radio" name="gender" value="male" checked=""></span>
                    <span><img class="icon" src="~/Content/img/repository/paypal.svg" /></span>
                    <span style="font-size:14px;font-weight:600">Thanh toán qua paypal</span>
                </div>

            </div>
            <button id="checkoutButton" ng-click="checkout()" class="w3-btn w3-padding-large fixedBottom" 
                    style="height: 80px; background-color: #dc3545; color: white; font-weight: 900; ">Thanh toán</button>
        </div>

        <!-- Page Content -->
        <div style="margin-right:25%">
            <!--<div class="navbar">
                <a href="#home">Chọn vé</a>
                <a href="#news">Chọn Ghế</a>
                <a href="#contact">Thanh Toán</a>
            </div>-->
            <nav class="navbar-expand-sm bg-light navbar-light fixed-top shadow p-3 mb-5 bg-white rounded" style="width: 74%">
                <div class="navbar-nav col-sm-12">
                    <div class="row col-sm-12">
                        <div class="col-sm-3" style="padding-left:0px; padding-right:0px">
                            <div class="nav-item">
                                <a class="nav-link font-weight-bold" href="#" style="padding-left:0px; padding-right:0px">01 CHỌN LOẠI VÉ</a>
                            </div>
                        </div>
                        <div class="col-sm-4" style="padding-left:0px; padding-right:0px">
                            <div class="nav-item active">
                                <a class="nav-link font-weight-bold" href="#" style="padding-left:0px; padding-right:0px">02 CHỌN GHẾ & THANH TOÁN</a>
                            </div>
                        </div>
                        <div class="col-sm-3" style="padding-left:0px; padding-right:0px">
                            <div class="nav-item">
                                <a class="nav-link font-weight-bold" href="#" style="padding-left:0px; padding-right:0px">03 KẾT QUẢ ĐẶT VÉ</a>
                            </div>
                        </div>
                        <div class="col-sm-2 float-right" style="padding-left:0px; padding-right:0px">
                            <div class="nav-item float-right">
                                <a class="nav-link" href="#"><i class="fa fa-user"></i> Đăng nhập</a>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
            <div class="w3-container w3-row" style="margin-top:100px">
                <div class="w3-half w3-container" style="float:left">
                    <div class="w3-cell-row">
                        <div class="w3-cell w3-cell-middle">
                            <img width="50" height="50" ng-src="{{scheduleData.groupCinemaImg}}" />
                        </div>
                        <div class="w3-cell w3-cell-middle">
                            <span style ="line-height: 5px; font-size: 14px;font-weight : 600">{{scheduleData.cinemaName}}</span><br /><br />
                            <span style="line-height: 5px; font-size: 14px; color: #9b9b9b">{{scheduleData.date}} - {{scheduleData.startTime}} - {{scheduleData.roomName}}</span>
                        </div>
                    </div>
                </div>
                <div class="w3-half w3-container">
                    <div style="float:right">
                        
                    </div>
                </div>
            </div>
            <div class="w3-container w3-row w3-margin-top">
                <img src="~/Content/img/repository/screen.png" style="width:100%" />
                <div class="w3-container">
                    <div ng-repeat="row in matrix" class="center-div">
                        <div class="w3-col w3-center " style="width: 50px; ">
                            <b>{{row.alphaName}}</b>
                        </div>
                        <div class="w3-rest w3-center w3-text-light-grey inlineContainer">
                            <div ng-repeat="seat in row.seats">
                                <button ng-if="seat.seatStatus != 'resell'" ng-click="onclickSeat(seat.seatId,seat.px,seat.py,seat.seatStatus)" class="{{seat.className}}" type="button">{{seat.px + 1}}</button>
                                <div ng-if="seat.seatStatus == 'resell'" class="dropdown">
                                    <button class="{{seat.className}}" type="button">{{seat.px + 1}}</button>
                                    <div class="dropdown-content">
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w3-container w3-row w3-margin-top">
                <div class="center-div">
                    <button type="button" class="btn-seat"></button> Ghế trống
                    <button type="button" class="btn-seat-choosing"></button> Ghế đang chọn
                    <button type="button" class="btn-seat-buyed"></button> Ghế đã có người chọn
                    <button type="button" class="btn-seat-resell"></button> Ghế đang bán lại
                </div>
            </div>
        </div>

    </div>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script src="~/Content/js/angular.min.js"></script>
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/chooseSeat.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
</body>
</html>
