@{
    ViewBag.Title = "FilmDetail";
}

<!DOCTYPE html>
<html ng-app="detailFilmModule">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FilmDetail</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/filmDetail.css">
    <link rel="stylesheet" href="~/Content/css/common.css">
</head>
<body ng-controller="filmController">
    <!-- filmDialog -->
    <div id="myModal" class="modal">

        <!-- filmDialogContent -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <iframe id="myIframe" width="100%" height="515" src="" frameborder="0" allowfullscreen=""></iframe>
        </div>

    </div>
    <form method="post" action="/home/ChooseTicket" id="goToChooseTicketForm" style="display:none"></form>
    <input id="filmId" type="hidden" value=@ViewBag.filmId />
    <div class="mainMaxWidth2 contentMain">
        <div class="col-sm-5"></div>
        <div class="col-sm-7">
            <nav class="navbar navbar-expand-sm bg-info navbar-dark fixed-top">
                <ul class="navbar-nav navbar-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Lịch chiếu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cụm rạp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ứng dụng</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link"><i class="fa fa-user"></i> Đăng nhập</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Thành phố
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Hồ Chí Minh</a>
                            <a class="dropdown-item" href="#">Hà Nội</a>
                            <a class="dropdown-item" href="#">Nha Trang</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row" style="padding-top: 160px;">
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <!--<img ng-src="{{filmData.img}}" width="255" height="370" class="img-rounded" alt="Cinque Terre">-->
                <div class="myContainer">
                    <img ng-click="gotoFilmDetail(aFilm.id)" width="255"
                         height="370" class="img-movie rounded" ng-src="{{filmData.img}}">
                    <div class="middle">
                        <div class="text">
                            <img ng-click="openTrailerDialog(filmData.trailerUrl)" src="~/Content/img/repository/play-video.png" width="50" height="50" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-primary ex1" style="color: red">{{filmData.releaseDate}}</p>
                <h3 class="text-primary"><mark ng-if="filmData.restricted!=0" class="ex1">{{filmData.restricted}}</mark> {{filmData.name[0]}}</h3>
                <h3 class="text-primary">{{filmData.name[1]}}</h3>
                <p class="text-primary">{{filmData.length}} phút - {{filmData.imdb}} IMDb - {{filmData.digitalType}} Digital</p>
                <button type="button" class="btn btn-danger">Mua vé</button>
            </div>
            <div class="col-sm-3">
                <div class="container container-circle">
                    <div id="activeBorder" class="active-border">
                        <div id="circle" class="circle">
                            <span class="prec 270" id="prec">{{filmData.imdb}} </span>
                        </div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <h6 class="ex1 text-nowrap">143 người đánh giá</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top:10rem;">
        <br>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">Lịch Chiếu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1">Thông tin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2">Đánh giá</a>
            </li>
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active">
            <br>
            <div class="row" style="padding-top: 60px;">

                <div class="card" style="left:8%">
                    <div class="card-body">
                        <div class="row ">
                            <div class="card-group">
                                <div class="float-right">
                                    <div class="card">
                                        <div class="card-body">
                                            <ul class="nav nav-pills flex-column" role="tablist">
                                                <li ng-click="groupClickHandler($index)" ng-repeat="group in groupCinemaList" class="nav-item active">
                                                    <a ng-if="$index == 0" href="#" class="nav-link active" data-toggle="pill">
                                                        <img ng-src="{{group.img}}" class="ex1">
                                                        {{group.name}}
                                                    </a>
                                                    <a ng-if="$index != 0" class="nav-link" data-toggle="pill">
                                                        <img ng-src="{{group.img}}" class="ex1">
                                                        {{group.name}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="float-left overflow-scroll">
                                    <div class="card float-left ">
                                        <div class="card-body">
                                            <div class="tab-content float-left">
                                                <div id="CineStar" class="container tab-pane active">
                                                    <ul class="nav nav-pills ">
                                                        <li ng-click="dateClickHandler($index)" ng-repeat="d in dateList" class="nav-item">
                                                            <a ng-if="$index == 0" class="nav-link text-center active" data-toggle="pill" href="#monday">
                                                                Thứ {{ d.dateOfWeek + 1 }}<br> {{ d.date }}
                                                            </a>
                                                            <a ng-if="$index != 0" class="nav-link text-center" data-toggle="pill" href="#monday">
                                                                Thứ {{ d.dateOfWeek + 1 }}<br> {{ d.date }}
                                                            </a>
                                                        </li>
                                                        <button type="button" style="center;" class="ex1 btn btn-primary">Share</button>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container-fluid " style="margin: 0">
                                            <ul class="nav nav-pills list-group">
                                                <li ng-repeat="item in currentData" class="nav-item list-group-item">
                                                    <a class="nav-link text-left" href="#demo">
                                                        <img ng-src="{{item.img}}" class="ex1">
                                                        <span class="pink">{{item.name}}</span><br> <span class="gray">{{item.address}}</span> <span class="red">[Bản đồ]</span>
                                                    </a>
                                                    <div ng-repeat="digType in item.digTypeList" class="row" style="padding-top:4px; padding-left:2%">
                                                        <img ng-if="digType.type == 1" src="https://www.123phim.vn/app/assets/img/icons/typeSession/2_0.png" class="ex2">
                                                        <a ng-repeat="time in digType.times" ng-click="gotoChooseTicket(filmData.id,time.timeId,item.id)" style="margin-left:2%"><h5 class="text-success">{{time.startTime}}</h5></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="menu1" class="container tab-pane fade">
            <br>
            <h3>Menu 1</h3>
            <p>Not yet</p>
        </div>
        <div id="menu2" class="container tab-pane fade">
            <br>
            <h3>Menu 2</h3>
            <p>Not yet</p>
        </div>
    </div>
    </div>
    <p style="padding-bottom:10%"></p>

    </div>
    <footer class="footer" style="background: #222;">
        <br /><br />
        <div class="container center">
            <div class="row col-sm-12">
                <div class="col-2">
                    <p class="text-white">123PHIM</p>
                    <a href="#">FAQ</a><br>
                    <a href="#">Brand Guidelines</a>
                </div>
                <div style="padding-top:40px;" class="col-2">
                    <a href="#">Thỏa thuận sử dụng</a><br>
                    <a href="#">Quy chế hoạt động</a><br>
                    <a href="#">Chính sách bảo mật</a><br>
                    <a href="#">Quyền lợi thành viên</a><br>
                </div>
                <div style=" padding-left: 40px;float:left" class="col-3">
                    <p class="text-white">ĐỐI TÁC</p><br>
                    <div class="row">
                        <div ng-repeat="group in groupCinemaList" style="padding-top:10px; padding-left:10px">
                            <a href="#"><img ng-src="{{ group.img }}" alt="{{ group.name }}" class="ex4"></a>
                        </div>
                    </div>
                </div>
                <div style=" padding-left:40px" class="col-2">
                    <p class="text-white">MOBILE APP</p><br>
                    <div class="row">
                        <div style="padding-top:10px; padding-left:10px">
                            <a href="#"><img src="~/Content/img/repository/apple-logo.png" class="ex4"></a>
                        </div>
                        <div style="padding-top:10px; padding-left:10px">
                            <a href="#"><img src="~/Content/img/repository/android-logo.png" class="ex4"></a>
                        </div>
                    </div>
                </div>
                <div style=" padding-left:40px" class="col-3">
                    <p class="text-white">SOCIAL</p><br>
                    <div class="row">
                        <div style="padding-top:10px; padding-left:10px">
                            <a href="#"><img src="~/Content/img/repository/facebook-logo.png" class="ex4"></a>
                        </div>
                        <div style="padding-top:10px; padding-left:10px">
                            <a href="#"><img src="~/Content/img/repository/zalo-logo.png" class="ex4"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr style="width:80%; border:0; height:2px; background:white;">
        <div class="col-sm-12" style="padding-top:10px;">
            <div class="container center">
                <div class="row">
                    <div style="padding-top:10px; padding-left:10px">
                        <a href="#"><img width="100" height="100" src="~/Content/img/repository/booking-cinema-logo.jpg" class=""></a>
                    </div>
                    <div style="padding-top:10px; padding-left:40px">
                        <p class="text-white">BookingTicket - CAPSTONE PROJECT FPT<p>
                        <p class="text-white">Địa chỉ: 18 Tô Ký, Phường 14, Quận 12, Tp Hồ Chí Minh</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/Content/js/angular.min.js"></script>
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/filmDetail.js"></script>

</body>
</html>
