@using CinemaTicket;
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html ng-app="homeModule">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/index.css">
    <link rel="stylesheet" href="~/Content/css/common.css">
    <link rel="stylesheet" href="~/Content/css/w3.css">
</head>
<body ng-controller="filmController">
    <!-- filmDialog -->
    <div id="myModal" class="modal">

        <!-- filmDialogContent -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <iframe id="myIframe" width="100%" height="515" src="" frameborder="0" allowfullscreen=""></iframe>
        </div>

    </div>

    <div class="mainMaxWidth2 contentMain">
        <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top shadow p-3 mb-5 bg-white rounded">
            <div class="left">
                <a href="#">
                    <img src="web-logo.png" class="ex1" alt="Cinque Terre" style="height:30%">
                </a>
            </div>
            <ul class="navbar-nav navbar-center">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="#">Lịch chiếu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="#">Cụm rạp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="#">Tin tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="#">Ứng dụng</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-user"></i> Đăng nhập</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Thành phố
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Hồ Chí Minh</a>
                        <a class="dropdown-item" href="#">Hà Nội</a>
                        <a class="dropdown-item" href="#">Nha Trang</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <div>

        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @{int i = 0;}
                @foreach (Film film in ViewBag.hightLight)
                {
                    i++;
                    var active = i == 1 ? "active" : "";
                    <div class="carousel-item @active">
                        <img height="500" class="d-block w-100" src="@Url.Content(film.posterPicture)" alt="topFilm">
                    </div>
                }
            </div>
            <ol class="carousel-indicators  ">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
            </ol>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item">
                <a id="showingMovieId" ng-click="loadShowingMovie()" class="nav-link text-danger"><h4 class="font-weight-bold">Đang Chiếu</h4></a>
            </li>
            <li class="nav-item">
                <a id="upcommingMovieId" ng-click="loadUpcommingMovie()" class="nav-link text-muted"><h4 class="font-weight-bold">Sắp Chiếu</h4></a>
            </li>
        </ul>

        <div class="container">
            <div class="row">
                <div class="col-1" style="margin-top: 30%">
                    <img ng-click="previous()" src="Content/img/repository/pre.png" />
                </div>
                <div class="col-10" style="float:left">
                    <div class="row" id="filmContainer">
                        <div ng-repeat="aFilm in CurrentFilmList" class="col-3">
                            <div class="myContainer">
                                <img ng-click="gotoFilmDetail(aFilm.id)"
                                     height="300" class="img-movie rounded" ng-src="{{aFilm.img}}">
                                <div class="middle">
                                    <div class="text">
                                        <img ng-click="openTrailerDialog(aFilm.trailerUrl)" src="Content/img/repository/play-video.png" width="50" height="50" />
                                    </div>
                                </div>
                            </div>
                            <div ng-if="aFilm.restricted != 0" class="top-left">
                                C {{ aFilm.restricted}}
                            </div>
                            <div ng-if="aFilm.imdb != 0" class="top-right">
                                <div class="text-center">
                                    {{aFilm.imdb}}
                                </div>
                                <div class="d-inline-flex" style="float:left;">
                                    <img ng-repeat="i in aFilm.star track by $index" src="Content/img/film/star_full.png" class="icon_star_rating" />

                                </div>
                            </div>
                            <h5 class="mt-2">{{aFilm.name}}</h5>
                            <small class="text-muted">{{aFilm.length}} phut</small>
                        </div>
                    </div>
                </div>
                <div class="col-1" style="margin-top: 30%">
                    <img ng-click="next()" src="Content/img/repository/next.png" />
                </div>
            </div>
        </div>

        <div class="col-12" style="height:100px;">

        </div>
        <div class="container">
            <div class="row border">
                <div class="col-1 border-right">
                    <ul class="nav flex-column" id="groupCinemaContainer">
                        <li ng-repeat="groupCinema in scheduleList"
                            class='nav-item border-bottom btn'>
                            <img ng-click="onclickGroupCinema($index)" width='50' height='50' ng-src="{{ groupCinema.img }}" data-index="{{$index}}" />
                        </li>
                    </ul>
                </div>

                <div class="col-4 border-right flex-column overflow-scroll">
                    <div ng-click="onclickCinema($index)" class="row border-bottom " ng-repeat="cinema in currentCinemaList">
                        <div class="profile-image">
                            <img ng-src="{{cinema.img}}" style="width:50px; height:50px; margin:10px" />
                        </div>
                        <div>
                            <input type="hidden" value="{{cinema.id}}" />
                            <span class="infoMovieCinema">{{cinema.name}}</span><br />
                            <p class="infoMovieCinema" style="text-overflow: '...'; width: 250px; height:20px; margin:0px">{{cinema.address}}</p>
                            <span><small>[chi tiết]</small></span>
                        </div>
                    </div>
                </div>

                <div class="col-7 overflow-scroll">
                    <p ng-if="currentFilmInScheduleList == 0">
                        không có suất chiếu
                    </p>
                    <div ng-repeat="aFilm in currentFilmInScheduleList" class="border-bottom">
                        <div class="row">
                            <div class="profile-image">
                                <img ng-src="{{ aFilm.img }}" class="img-theater" />
                            </div>
                            <div class="profile-info" style="margin:10px">
                                <p>
                                    <font ng-if="aFilm.restricted != 0" class="info_type">C {{ aFilm.restricted}}</font>
                                    {{ aFilm.filmName }}<br />
                                    <small>
                                        {{aFilm.length}} phút - IMDb {{aFilm.imdb}}
                                    </small>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="profile-image">
                                <img src="~/Content/img/film/2D.png" class="img-2d" />
                            </div>
                            <div class="profile-info text-success col-10">
                                <h4 ng-repeat="time in aFilm.timeList" class="time-show" style="margin:5px; float:left"><a href="#" style=" text-decoration: none;">{{time.startTime}}</a></h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ban lai ve container -->
    <br /><br />
    <div class="w3-container" style="width: 70%; margin: auto;">

        <div class="w3-container">
            <h4 class="w3-center">Bán lại vé</h4>
            <p class="w3-center">Nhập email để tìm kiếm vé của bạn</p>
            <div class="w3-row">
                <div class="w3-col m10">
                    <input class="w3-input w3-border" name="email" type="text" placeholder="Email">
                </div>
                <div class="w3-col m2">
                    <button class="w3-btn w3-block w3-red">Tim kiem</button>
                </div>
            </div>
            <div style="display: none;">
                <p class="w3-center">Nhập mã xác nhận</p>
                <div class="w3-row" style="width:50%;margin: auto;">
                    <div class="w3-col m10">
                        <input class="w3-input w3-border" name="email" type="text" placeholder="confirm code">
                    </div>
                    <div class="w3-col m2">
                        <button class="w3-btn w3-block w3-teal">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="w3-container" >
            <div class="w3-card-4">
                <div class="w3-container" style="padding: 10px 10px">
                    <div class="w3-col m7">
                        <span style="font-weight: 700;">Gia đình siêu nhân 2</span><br>
                        <span style="color: #CA4137; font-weight: bold">Galaxy</span>
                        <span style="font-weight: 700;font-size: 14px;"> - Quốc Thanh </span><br>
                        <span style="color: #9b9b9b;font-size: 12px;">12/04/2018 - 14:40 - RẠP 4</span>
                        <span style="color: green; font-weight: bold">Status: đã mua</span>
                    </div>
                    <div class="w3-col m5">
                        <input class="w3-input w3-border" name="ticketCode" type="text" placeholder="mã vé">
                        <button class="w3-btn w3-block w3-teal">Xác nhận bán lại vé</button>
                    </div>
                </div>
            </div>
            <br />
            <div class="w3-card-4">
                <div class="w3-container" style="padding: 10px 10px">
                    <div class="w3-col m7">
                        <span style="font-weight: 700;">Gia đình siêu nhân 2</span><br>
                        <span style="color: #CA4137; font-weight: bold">Galaxy</span>
                        <span style="font-weight: 700;font-size: 14px;"> - Quốc Thanh </span><br>
                        <span style="color: #9b9b9b;font-size: 12px;">12/04/2018 - 14:40 - RẠP 4</span>
                        <span style="color: green; font-weight: bold">Status: đã mua</span>
                    </div>
                    <div class="w3-col m5">
                        <input class="w3-input w3-border" name="ticketCode" type="text" placeholder="mã vé">
                        <button class="w3-btn w3-block w3-teal">Xác nhận bán lại vé</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- tin tuc khuyen mai goes here-->
    </div>
    <br />

    <footer class="footer" style="background: #222;">
        <br /><br />
        <div class="container center">
            <div class="row col-sm-12">
                <div class="col-2">
                    <p class="text-white">123PHIM</p>
                    <a href="#">FAQ</a><br>
                    <a href="#">Brand Guidelines</a>
                </div>
                <div style="padding-top:40px;" class="col-2">
                    <a href="#">Thỏa thuận sử dụng</a><br>
                    <a href="#">Quy chế hoạt động</a><br>
                    <a href="#">Chính sách bảo mật</a><br>
                    <a href="#">Quyền lợi thành viên</a><br>
                </div>
                <div style=" padding-left: 40px;float:left" class="col-3">
                    <p class="text-white">ĐỐI TÁC</p><br>
                    <div class="row">
                        <div ng-repeat="groupCinema in scheduleList" style="padding-top:10px; padding-left:10px">
                            <a href="#"><img ng-src="{{ groupCinema.img }}" alt="{{ groupCinema.name }}" class="ex4"></a>
                        </div>
                    </div>
                </div>
                <div style=" padding-left:40px" class="col-2">
                    <p class="text-white">MOBILE APP</p><br>
                    <div class="row">
                        <div style="padding-top:10px; padding-left:10px">
                            <a href="#"><img src="~/Content/img/repository/apple-logo.png" class="ex4"></a>
                        </div>
                        <div style="padding-top:10px; padding-left:10px">
                            <a href="#"><img src="~/Content/img/repository/android-logo.png" class="ex4"></a>
                        </div>
                    </div>
                </div>
                <div style=" padding-left:40px" class="col-3">
                    <p class="text-white">SOCIAL</p><br>
                    <div class="row">
                        <div style="padding-top:10px; padding-left:10px">
                            <a href="#"><img src="~/Content/img/repository/facebook-logo.png" class="ex4"></a>
                        </div>
                        <div style="padding-top:10px; padding-left:10px">
                            <a href="#"><img src="~/Content/img/repository/zalo-logo.png" class="ex4"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr style="width:80%; border:0; height:2px; background:white;">
        <div class="col-sm-12" style="padding-top:10px;">
            <div class="container center">
                <div class="row">
                    <div style="padding-top:10px; padding-left:10px">
                        <a href="#"><img width="100" height="100" src="~/Content/img/repository/booking-cinema-logo.jpg" class=""></a>
                    </div>
                    <div style="padding-top:10px; padding-left:40px">
                        <p class="text-white">BookingTicket - CAPSTONE PROJECT FPT<p>
                        <p class="text-white">Địa chỉ: 18 Tô Ký, Phường 14, Quận 12, Tp Hồ Chí Minh</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Content/js/angular.min.js"></script>
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/home.js"></script>
</body>
</html>


