@{
    ViewBag.Title = "Cinema Manager";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="~/Content/css/w3.css">-->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/js/CustomPlugin/jquery.skeduler.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <link rel="stylesheet" href="~/Content/css/cinemaManager.css">
    <link rel="stylesheet" href="~/Content/css/AdminLTE.min.css">
    <title>Viet Cine | Cinema Manager</title>
</head>
<body class="hold-transition sidebar-mini" ng-app="CombineModule" ng-controller="managerController">
    <!--========================================== new part =================================================-->
    <input type="hidden" id="cinemaId" value=@ViewBag.cinemaId />
    <form action="/" method="post" id="gohomeForm"></form>
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/Content/img/repository/logo.png" alt="cine viet Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Viet Cine</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img ng-src="{{cinemaInfor.logoImg}}" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">{{cinemaInfor.name}}</a>
                    </div>
                    <div class="image" style="cursor:pointer" ng-click="logout()">
                        <img src="~/Content/img/repository/logout.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li ng-click="basicAdd()" class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-calendar"></i>
                                <p>
                                    Basic Schedule
                                </p>
                            </a>
                        </li>
                        <li ng-click="advantageAdd()" class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-book"></i>
                                <p>
                                   Advance Schedule
                                </p>
                            </a>
                        </li>
                        <li class="nav-header">DASHBOARD</li>
                        <li ng-click="showDashboard()" class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-file"></i>
                                <p>View Dashboard</p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <!-- Main Content -->
        <div class="content-wrapper">
            <div class="col-lg-12" id="ScheduleManagement" ng-controller="scheduleController">
                <!-- advantage add -->
                <div id="advantageAdd" class="card card-danger col-lg-12">
                    <div class="card-header">
                        <h3 class="card-title">Advantage Add Schedule</h3>
                    </div>
                    <div id="customFilterForm" class="card-body">
                        <div class="form-group has-warning col-3">
                            <label class="control-label" for="inputWarning">
                                <i class="fa fa-calendar"></i> Input date
                            </label>
                            <input id="customScheduleDateSelector" name="customScheduleDateSelector" type="date" class="form-control" placeholder="Enter ..." required>
                        </div>

                        <!--<div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Showing Movie</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div  style="position: relative;margin:4px;background: #343a40;color:white;width:22%">Lunch</div>
                                        <div  style="position: relative;margin:4px;background: #343a40;color:white;width:22%">Lunch</div>
                                        <div  style="position: relative;margin:4px;background: #343a40;color:white;width:22%">Lunch</div>
                                        <div  style="position: relative;margin:4px;background: #343a40;color:white;width:22%">Lunch</div>
                                        <div class="external-event bg-warning col-sm-3" style="position: relative;margin:4px">Go home</div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div id="loader" class="loader"></div>

                    </div>
                    <div id="customScheduleArea" class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Select Film</label>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <select id="customScheduleFilmSelector" name="customScheduleFilmSelector" class="form-control" required>
                                                <option disabled selected value="null"> -- select a film to add -- </option>
                                                <option ng-repeat="film in filmData" value="{{film.id}}">{{film.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <button ng-click="unSuggest()" class="btn btn-info" type="button" style="width: 200px">Unsuggest</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="skeduler-container" style="overflow-x:auto"></div>
                            <div class="row col-lg-12 w3-margin-top">
                                <div class="col-sm-6">
                                    <button id="saveScheduleId" ng-click="saveSchedule()" class="btn btn-info float-right" type="button" style="width: 200px">Save</button>

                                </div>
                                <div class="col-sm-6">
                                    <button id="saveForNextDay" ng-click="saveScheduleForNextDay()" class="btn btn-info float-left" type="button" style="width: 200px">Save For Next Day</button>
                                </div>
                            </div>
                        </div>

                        <div class="row"></div>
                    </div>
                    <!-- /.card-body -->
                </div>

                <!-- basic add -->
                <div id="basicAdd" class="card card-danger col-lg-12">
                    <form id="basicAddForm" class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Select Film</label>
                                <select id="basicFilmSelector" name="basicFilmSelector" class="form-control" required>
                                    <option disabled selected value> -- select an film -- </option>
                                    <option ng-repeat="film in filmData" value="{{film.id}}">{{film.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Select Room</label>
                                <select id="basicRoomSelector" name="basicRoomSelector" class="form-control" required>
                                    <option disabled selected value> -- select an room -- </option>
                                    <option ng-repeat="room in roomData" value="{{room.roomId}}">{{room.roomName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Select Showtime</label>
                                <select id="basicTimeSelector" name="basicTimeSelector" class="form-control" required>
                                    <option disabled selected value> -- select a time -- </option>
                                    <option ng-repeat="time in timeData" value="{{time.timeId}}">{{time.startTime}} - {{time.endTime}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group has-warning">
                                <label class="control-label" for="inputWarning">
                                    <i class="fa fa-calendar"></i> Input date
                                </label>
                                <input id="basicDateSelector" name="customScheduleDateSelector" type="date" class="form-control" placeholder="Enter ..." required>
                            </div>
                        </div>
                        <button ng-click="basicAddScheduleSave()" type="submit" class="btn btn-block btn-success" style="background: #576D7C ;margin-top:20px ">Save</button>
                    </form>
                    <div class="row">

                    </div>
                </div>
                <!-- /.content-wrapper -->
                <!-- Control Sidebar -->
                <aside class="control-sidebar control-sidebar-dark">
                    <!-- Control sidebar content goes here -->
                </aside>
                <!-- /.control-sidebar -->
            </div>
            <div class="col-lg-12" id="dashboardManager" ng-controller="dashboardController">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">Cinema Dashboard</h1>
                            </div><!-- /.col -->
                            <div class="col-sm-6">
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>

                <section class="content">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>{{dashboardCommonData.showingMovie}} </h3>
                                    <p>Showing Movies</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-ios-film"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>{{dashboardCommonData.totalRoom}} </h3>
                                    <p>Number of Room</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3>{{dashboardCommonData.totalSchedule}} </h3>
                                    <p>Schedules</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-ios-calendar"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>{{dashboardCommonData.totalTicket}} </h3>
                                    <p>Ticket Sales Today</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Weekly Sale Ticket</h5>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="text-center">
                                                <strong>Sales: {{weeklyTicketData.infor}}</strong>
                                            </p>
                                            <div class="chart">
                                                <!-- Sales Chart Canvas -->
                                                <canvas id="sales-chart" height="250" style="height: 250px; width: 680px;" width="680"></canvas>
                                            </div>
                                            <!-- /.chart-responsive -->
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <!-- ./card-body -->
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-sm-4 col-6">
                                                <div class="description-block border-right">
                                                    <h5 class="description-header">{{weeklyTicketData.totalSold}} TICKET</h5>
                                                    <span class="description-text">TOTAL IN WEEK</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-4 col-6">
                                                <div class="description-block border-right">
                                                    <h5 class="description-header">{{weeklyTicketData.todaySold}}  TICKET</h5>
                                                    <span class="description-text">TOTAL TODAY</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-4 col-6">
                                                <div class="description-block border-right">
                                                    <h5 class="description-header">{{totalProfit}} VND</h5>
                                                    <span class="description-text">TOTAL PROFIT</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <!-- /.card-footer -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Top Film In Week</h3>
                                </div>
                                <div class="card-body p-0">
                                    <table class="table table-striped table-valign-middle">
                                        <thead>
                                            <tr>
                                                <th>Rank</th>
                                                <th>Film</th>
                                                <th>Ticket Sales</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="film in filmRankingData">
                                                <td> <b>{{$index + 1}}</b></td>
                                                <td><span class="badge bg-danger" style="font-size:15px">{{film.filmName}}</span></td>
                                                <td>{{film.tickSold}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br /><br /><br />

                </section>
            </div>
        </div>

        <!-- validate Modal -->
        <div class="modal fade" id="validateModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header justify-content-center align-self-center border-bottom-0">
                        <img class="" src="~/Content/img/repository/Post-notification.png" style="width:80px; height: 50px">
                    </div>
                    <div class="modal-body justify-content-center align-self-center ">
                        <h6 id="modalMessage"></h6>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button id="dismissBtn" type="button" class="btn  btn-danger" data-dismiss="modal">OK</button>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/js/angular.min.js"></script>
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/adminlte.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="~/Content/js/CustomPlugin/jquery.skeduler.js"></script>
    <script src="~/Content/js/CustomPlugin/Chart.js"></script>

    <script src="~/Content/js/ManagerModule/managerMainModule.js"></script>
    <script src="~/Content/js/ManagerModule/dashboardModule.js"></script>
    <script src="~/Content/js/ManagerModule/manageSchedule.js"></script>
</body>
</html>
