.fixedBottom {
    position: fixed;
    bottom: 0;
    width: 25%;
}

.icon {
    width: 30px;
    height: 30px;
}

.btn-seat {
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;
    background-color: #f5a623;;
    color: white;
    text-align: center;
}

.btn-seat-choosing {
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px 2px 2px 0px; /* top right bottom left*/
    background-color: green;
    color: white;
    text-align: center;
}

.btn-seat-buyed {
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px 2px 2px 0px; /* top right bottom left*/
    background-color: black;
    color: white;
    text-align: center;
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-seat-hidden {
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    font-size: 12px;
    cursor: pointer;
    margin: 2px;
    text-align: center;
    visibility: hidden;
}

.center-div {
    margin: auto;
    width: 80%;
    padding: 0px;
}

.navbar {
    overflow: hidden;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 75%;
}

    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .navbar a:hover {
            background: #ddd;
            color: black;
        }
