<div ng-app="homeModule" ng-controller="homeController">
    <div class="card-header">
        <h3 class="card-title">List Film Data</h3>
        <button class="btn btn-success float-right" data-toggle="modal" data-target="#modal-film">Create Film</button>
    </div>
   
    <divdiv class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Film Name</th>
                    <th>Date Release</th>
                    <th>Movie Genre</th>
                    <th>Countries</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="film in FilmNowShowing">
                    <td>{{$index + 1}}</td>
                    <td>{{film.name}}</td>
                    <td>{{film.dateRelease}}</td>
                    <td>{{film.movieGenre}}</td>
                    <td>{{film.countries}}</td>
                    <td>
                        <button type="button" class="btn btn-info" ng-click="clickDetail($index)" data-toggle="modal" data-target="#modal-film"  style="margin-left:20px">Detail</button>
                        <button type="button" class="btn btn-danger" ng-click="clickDisable($index)" style="margin-left:20px">Disable</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </divdiv>

    <div class="modal fade" id="modal-film" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="max-width: 40% !important">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Film Modal</h4>

                    <button type="button" ng-click="clearForm()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form role="form" id="form-film">
                    <div class="container">

                        <input type="hidden" class="form-control" id="filmId" name="filmId" value="0">

                        <div class="form-row" >
                            <div class="form-group col-md-6">
                                <label for="filmName">Film Name</label>
                                <input type="text" class="form-control" id="filmName" name="filmName" value="">
                            </div>

                            <div class="form-group col-md-6">
                                <label>Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="datepicker" name="datepicker">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Film Restricted</label>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="restricted" id="restricted" value="0" checked> 0
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="restricted" id="restricted" value="13"> 13
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="restricted" id="restricted" value="16"> 16
                                </label>
                            </div>
                            <div class="form-check form-check-inline disabled">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="restricted" id="restricted" value="18"> 18
                                </label>
                            </div>
                        </div>

                        <div class="form-row" >
                            <div class="form-group col-md-6">
                                <label for="movieGenre">Film Genre</label>
                                <input type="text" class="form-control" id="movieGenre" name="movieGenre" value="">
                            </div>

                            <div class="form-group col-md-3">
                                <label for="filmLength">Film Length</label>
                                <input type="text" class="form-control" id="filmLength" name="filmLength" value="0">
                            </div>

                            <div class="form-group col-md-3">
                                <label>Film Status</label>
                                <select class="form-control select2" id="filmStatus" name="filmStatus" style=" width: 100%;">
                                    <option selected="selected" value="1">Now Showing</option>
                                    <option value="2">Comming Soon</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="author">Author</label>
                                <input type="text" class="form-control" id="author" name="author" value="">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="actorList">Actor List</label>
                                <input type="text" class="form-control" id="actorList" name="actorList" value="">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="countries">Countries</label>
                                <input type="text" class="form-control" id="countries" name="countries" value="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="trailerLink">Trailer Link</label>
                                <input type="text" class="form-control" id="trailerLink" name="trailerLink" value="">
                            </div>
                        </div>

                        <div class="form-row" id="divFilePicture">
                            <div class="form-group col-md-6">
                                <label for="posterPicture">Poster Picture</label>
                                <input type="file" id="posterPicture" name="posterPicture" value="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="additionPicture">Addition Picture</label>
                                <input type="file" id="additionPicture" name="additionPicture" value="" multiple>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="filmContent">Content:</label>
                            <textarea class="form-control" rows="5" id="filmContent"></textarea>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" ng-click="clearForm()" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" ng-click="createOrUpdateFilm()">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- /.row -->


<script src="~/Content/js/home.js"></script>
