@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="~/Content/css/w3.css">-->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/AdminLTE.min.css">
    <title>Viet Cine | Partner</title>
</head>
<body class="hold-transition sidebar-mini" ng-app="crawlModule" ng-controller="crawlController">
    <div class="row">
        <div  style="cursor:pointer" class="col-sm-12 col-12">
            <div class="info-box bg-danger">
                <span class="info-box-icon"><i class="fa fa-film"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">name</span>
                    <span class="info-box-number">rap1 - 20:30</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <span class="progress-description">
                       12 Ghe con trong
                    </span>
                </div>
                <span class="info-box-icon"><i class="fa fa-film"></i></span>
                <span class="info-box-icon"><i class="fa fa-film"></i></span>
                <!-- /.info-box-content -->
            </div>

            <div class="info-box bg-danger">
                <span class="info-box-icon"><i class="fa fa-film"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">name</span>
                    <span class="info-box-number">rap1 - 20:30</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <span class="progress-description">
                        12 Ghe con trong
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
    </div>
    <script src="~/Content/js/angular.min.js"></script>
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/CrawlModule.js"></script>
</body>
</html>
